@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.loginInput {
    @apply bg-neutral-gray rounded-[7px] placeholder:font-medium placeholder:text-sm placeholder:leading-normal
}

.btn-click {
  @apply transition-transform transform active:scale-90 hover:bg-[#1945e3ea]
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

.custom-scroll::-webkit-scrollbar {
    width: 10px;
  }
  
.custom-scroll::-webkit-scrollbar-track {
    background: #d1d1fd;
    border-radius: 8px;
  }
  
.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #7166D2;
    border-radius: 8px;
  }
  
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #8b5cf6;
  }

.login-scroll {
  overflow-y: scroll;
  height: 200px;
  margin-right: 14px;
}

.login-scroll::-webkit-scrollbar {
  width: 6px;
}

.login-scroll::-webkit-scrollbar-track {
  background-color: #D9D9D9;
  border-radius: 10px;
}

.login-scroll::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 10px;
}

.login-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #909090; 
}
